{% extends 'budget_db/base.html' %}

{% block content %}
    <p>Привет! На что потратились в этот раз?;)</p>
    <form action="{% url 'add_new_expense_view' %}" method="get">
        <input type="date" name="expenses_date" value="{% now 'Y-m-d' %}"><br>
        <input type="number" name="expenses_sum" value="">
        <select name="expenses_currency" size="1">
            <option>RUB</option>
            <option>GEL</option>
            <option>USD</option>
            <option>EUR</option>
        </select>
        <input type="text" name="expenses_description">
        <select name="expenses_section">
            <option>еда/быт</option>
            <option>проезд</option>
        </select><br>
        <input type="submit" name="expenses_send" value="Save">
    </form>
{% endblock %}