<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BudgetLesh</title>
</head>
<body>
        {% if user.is_authenticated %}
          <p>Hi {{ user.username }}!</p>
          <p>Привет! На что потратились в этот раз?;)</p>
          <a href="{% url 'logout' %}">Logout</a>
          <div>
              <p>Текущие расходы в {% now 'F' %}</p>
          </div>
          <div>
              <form action="{% url 'add_expenses_view' %}" method="get">
                <input type="date" name="expenses_date" value="{% now 'Y-m-d' %}"><br>
                <input type="number" name="expenses_sum" value="">
                <select name="expenses_currency" size="1">
                    <option>RUB</option>
                    <option>GEL</option>
                    <option>USD</option>
                    <option>EUR</option>
                </select>
                <input type="text" name="expenses_description">
                <select name="expenses_section">
                    <option>еда/быт</option>
                    <option>проезд</option>
                </select><br>
                <input type="submit" name="expenses_send" value="Save">
              </form>
          </div>
        {% else %}
          <p>You are not logged in.</p>
          <p>Please, login: <a href="{% url 'login' %}">Log In</a></p>
        {% endif %}
        {% block main %}
        {% endblock %}
</body>
</html>