<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>
    <table>
        <tr>
            <td>created_on</td>
            <td>creator</td>
            <td>updated_on</td>
            <td>updator</td>
            <td>date</td>
            <td>total</td>
            <td>currency</td>
            <td>what_is</td>
            <td>section</td>
        </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.created_on }}</td>
                <td>{{ expense.creator }}</td>
                <td>{{ expense.updated_on }}</td>
                <td>{{ expense.updater }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.total }}</td>
                <td>{{ expense.currency }}</td>
                <td>{{ expense.what_is }}</td>
                <td>{{ expense.section }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>